@tailwind base;
@tailwind components;
@tailwind utilities;

/* Website Wide */

html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
}

::selection {
    @apply dark:bg-[#e8853e99] bg-[#526df599];
}

.title {
    @apply mb-10
}

.transition-configuration {
    @apply duration-500 ease-in-out

}

section {
    @apply flex justify-center flex-col items-center text-myblack dark:text-mywhite mx-4 mt-24 scroll-mt-[10rem]
}

@keyframes appear {
    0% {
        scale: 0.94;
        transform: translate(0, 1rem);
    }
    100% {
        scale: 1;
        transform: translate(0, 0);
    }
}

.appear-animated {
    animation: appear ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

/* Navbar and Footer */

.blurry {
    @apply backdrop-blur-xl bg-opacity-50
}

.blurry-nav-edge {
    -webkit-mask-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 20%);
    mask-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 20%);
}

.blurry-footer-edge {
    -webkit-mask-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 20%);
    mask-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 20%);
}

.navLink {
    @apply text-myblack text-center dark:text-mywhite no-underline font-sans text-lg mx-4 hover:scale-90 transition-transform transition-configuration
}

.footer-social {
    @apply mx-1 p-2 text-myblack dark:text-mywhite rounded-full w-auto h-auto aspect-square max-w-8 max-h-8 bg-zinc-300 dark:bg-zinc-600 hover:scale-90 transition-transform duration-500 ease-in-out
}

/* Title Image Card - Logo */

.curved-text {
    -webkit-animation: spin 12s linear infinite;
    -moz-animation: spin 12s linear infinite;
    animation: spin 12s linear infinite;
    }
    @-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
    }
    @-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
    }
    @keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    }

/* Accordion */

.szh-accordion__item-btn,
.szh-accordion__item-heading {
    width: auto;
    min-width: 100%;
}

.szh-accordion__item-content {
    transition: height 0.25s cubic-bezier(0, 0, 0, 1);
}

/* My Cursor */

html,
body {
    scroll-behavior: smooth;
}

body,
* {
    cursor: none;
}

.my-cursor {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 2px solid #ffffff2b;
    mix-blend-mode: difference;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 999999 !important;
    background-color: white;
    backdrop-filter: blur(8px) grayscale();
    -webkit-backdrop-filter: blur(8px) grayscale();
    padding: 0.5rem;
}

.tooltip-text {
    transition: opacity 0.5s ease-in-out, left 0.35s ease-out, top 0.35s ease-out;
}

.my-cursor.special-hover {
    visibility: hidden;
}

/* Description */

.highlight{
    @apply text-white dark:text-black bg-gradient-to-r from-[#8a2be9] to-[#E8853E] p-1 rounded-md shadow-lg
}

/* Scrolling Icons */

.icons-container {
    overflow: hidden;
    background-color: rgba(100, 116, 139, 0.2);
    border-radius: 30px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.4);
    height: auto;
    border: 3px solid rgb(131, 131, 131);
    transition: transform 0.3s ease-in-out;
}

.icons-container:hover * {
    animation-play-state: paused;
}

.icons-container:hover {
    transform: scale(1.01);
}

.scrolling-icon {
    aspect-ratio: 1;
    margin: 0.5rem;
    border-radius: 20%;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scrolling-icons {
    white-space: nowrap;
    width: 100% !important;
    max-width: 100% !important;
    position: relative;
    margin: 0.2rem 0;
}

.forward {
    animation: moveforward 40s linear infinite;
}

.backward {
    animation: movebackward 40s linear infinite;
}

@keyframes moveforward {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes movebackward {
    100% {
        transform: translateX(0);
    }

    0% {
        transform: translateX(-100%);
    }
}

@media (max-width: 920px) {
    .scrolling-icon {
        width: 55px;
        aspect-ratio: 1;
        margin: 0.35rem;
    }
}

/* iPhone Customization Switches */

.my-switch label,
.my-switch input {
    transition: transform 0.2s ease-in-out;
}

.my-switch label img {
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.my-switch:hover * {
    cursor: pointer;
    transform: scale(1.03);
}

.my-switch input:checked {
    background-color: black;
}